
.letter {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.dragging {
    z-index: 1 !important;
    opacity: .75;
}

.deck {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
